<app-player *ngFor="let player of game.players; let i = index;"   
    [ngStyle]="{'top.px': 100 + (i * 120)}" 
    [name]="player"
    class="player-position"></app-player>

<div class="field">
    <div class="card-stack">
        <!-- Stack for the card stack-->
        <img *ngFor="let card of [1, 2, 3, 4]; let i = index" [ngStyle]="{'right.px': i * 5}"
            src="assets/img/cards/card_cover.png" alt="The card stack">
        <img (click)="takeCard()" class="top-card" src="assets/img/cards/card_cover.png">
        <--Stack for played-cards-->
        <img *ngFor="let card of game.playedCards" src="assets/img/cards/{{ card }}.png" class="played-card"
            alt="Played cards">
         <!-- current card animation -->  
          <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" src="assets/img/cards/{{ currentCard }}.png">
    </div>
</div>
 <button mat-fab color="primary" class="btn-add" >
        <mat-icon>add</mat-icon>
</button>