

.game-info-card {
  position: absolute;
  bottom: 32px;
  left: 100px;
  right: 100px;;
  max-width: 630px;
  max-height: 160px;
  z-index: 50;
  background-color: rgba(133, 82, 41, 0.616);
  color: wheat;

 
}